/* Navbar.css */
nav {
  background-color: #141414; /* Change this color to whatever you prefer */
  padding: 2rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 3rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


.go-back-icon {
  color: white;
  margin-left: 20px;
  cursor: pointer;
}
